.TopNav{
    background-color: aliceblue;
    overflow: hidden;
    height: auto;
   
}

body {
    margin: 0px;
    }

.TopNav a{
float: left;
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;
display: flex;
justify-content: space-around;
align-items: center;
}

.TopNav a:hover{
    background-color: cadetblue;
    color: black;
}

.TopNav a.active{
    background-color: #04AA6D;
    color: black;
}

.navlist{
    list-style-type: none;
}

.navlist .listitem{
    display: inline-block;
}

.TopNav-Right{
    float: right;
color: black;
padding: 14px 22px;
text-decoration: none;
font-size: 18px;
display: flex;
justify-content: space-around;
align-items: center;
}

background{
    color: rgb(65, 126, 240);
}
  
  .logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  
  .menu-bg .logo {
    
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
*{
    font-family: 'Sora', sans-serif;
}
